name: Build and Commit to Main on PR Close

on:
    pull_request:
        types: [closed]
        branches:
        - main
        - master
        paths:
          - 'Source/**' # Include any other folders as well
          - 'ModSupport/**'

permissions:
  contents: write

jobs:
  pr-closed-build:
    uses: MemeGoddess/RimWorld-Deployment-Pipeline/.github/workflows/pr-closed.yml@beta
    with:
      ProjectFiles: 'Source/TD_Find_Lib.csproj,ModSupport/Biotech/Biotech.csproj,ModSupport/CAIFOW/CAIFOW.csproj,ModSupport/Ideology/Ideology.csproj,ModSupport/LTOColonyGroups/LTOColonyGroups.csproj,ModSupport/Royalty/Royalty.csproj'